/*
   |                                                          |
 --+----------------------------------------------------------+--
   |   Code by : yasserbdj96                                  |
   |   Email   : yasser.bdj96@gmail.com                       |
   |   Github  : https://github.com/yasserbdj96               |
   |   BTC     : bc1q2dks8w8uurca5xmfwv4jwl7upehyjjakr3xga9   |
 --+----------------------------------------------------------+--  
   |        all posts #yasserbdj96 ,all views my own.         |
 --+----------------------------------------------------------+--
   |                                                          |
*/

/*START{*/
body{
    background-color: #0d1117;
}

input[type=button],.button{
    background-color: #474b85;
    color: white;
}

/*input[type=text],input[type=password]{
    background-color: #30363d;
    color: white;
    border: 1px solid #30363d;
}*/

input[type=text],input[type=password]{
    color: white;
}

.form__label {
    color: #9b9b9b;
}

#connected{
    background-color: #474b85;
}
.add_new{
    background-color: #474b85;
    color: #ffffff;
}

.reconnectx{
    background-color: #474b85;
    color: #ffffff;
}

spam{
    color:#ffffff;
}
  
spam:hover {
    background-color: #777bb3;
    height: 18px;
}

.settings{
    background-color: #0d1117;
}

.return{
    color:#ffffff;
}

#ls tr:nth-child(even), #settings tr:nth-child(even){background-color: #16191e;}

#ls tr:hover, #settings tr:hover{background-color: #161b22;}

#ls th, #settings th {
    background-color: #5e6060;
    color: white;
}

table{
    color: white;
}

/**/
.save{
    color: #ffffff;
}

.select{
    background-color: #474b85;
}

.c_red{
    color:red;
}
.c_blue{
    color:rgb(101 101 227);
}
.c_orange{
    color: rgb(219, 126, 19);
}
.c_green{
    color: #08a76d;
}

.holder{
    background: #202730;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
}

input[type=checkbox] + span {
    background: #e74c3c;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
}

input[type=checkbox] + span::before, input[type=checkbox] + span::after{
    background:#fff;
}

input[type=checkbox]:checked + span {
    background:#474b85;			    
}

#cat {
    background-color:#0d1117;
    border-color:#30363d;
    color:#ffffff;
}

#lineCounter {
    color: #707070;
    background-color: #d8d8d8;
    background-color:#262a30;
    border-color:#30363d;
    color:#928869;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    /*border-radius: 10px;*/
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #5e6060; 
    /*border-radius: 10px;*/
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3c3d3d; 
}
/*}END.*/