/*
#   |                                                         |   #
# --+---------------------------------------------------------+-- #
#   |    Code by: yasserbdj96                                 |   #
#   |    Email: yasser.bdj96@gmail.com                        |   #
#   |    GitHub: github.com/yasserbdj96                       |   #
#   |    Sponsor: github.com/sponsors/yasserbdj96             |   #
#   |    BTC: bc1q2dks8w8uurca5xmfwv4jwl7upehyjjakr3xga9      |   #
#   |                                                         |   #
#   |    All posts with #yasserbdj96                          |   #
#   |    All views are my own.                                |   #
# --+---------------------------------------------------------+-- #
#   |                                                         |   #
*/

/*START{*/
    :root {
        --c1: #474b85;
        --c2: #000000;
        --c3: #d1d1d1;
        --c4: #9b9b9b;
        --c5: #777bb3;
        --c6: #d9d9d9;
        --c7: #f2f2f2;
        --c8: #5e6060;
        --c9: #FF0000;
        --c10: #6565E3;
        --c11: #DB7E13;
        --c12: #08a76d;
        --c13: #ffffff;
        --c14: #e74c3c;
        --c15: #000000;
        --c16: #30363d;
        --c17: #707070;
        --c18: #d8d8d8;
        --c19: #202730;
        --c20: #928869;
        --c21: #787878;
        --c22: #202730;
        --c23: #0d1117;
        --c24:#ffffff;
    }
    /*}END.*/