language: python
python:
  - 3.5
  - 3.6
os:
  - linux
  - windows
before_install:
  - python --version
  - pip install -U pip
  - pip install -U pytest
  - pip install codecov
install:
  - pip install ashar # install package + test dependencies
script: pytest # run tests
after_success:
  - codecov # submit coverage
