requests
hexor
#asciitext
BeautifulSoup4
#for pypi
twine
#for ipynb
pyngrok
#for hiphp-tk
tk
chardet
#for hiphp-desktop
eel
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability