requests
hexor
asciitext
biglibrary
BeautifulSoup4
#for pypi
twine
#for ipynb
pyngrok
#for hiphp-desktop
eel
#for hiphp-tk
tk
chardet
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability