requests
hexor
#asciitext
BeautifulSoup4
#for pypi
twine
#for ipynb
pyngrok
#for hiphp-tk
tk
chardet
#for hiphp-desktop
eel
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability