#   |                                                          |
# --+----------------------------------------------------------+--
#   |   Code by : yasserbdj96                                  |
#   |   Email   : yasser.bdj96@gmail.com                       |
#   |   Github  : https://github.com/yasserbdj96               |
#   |   BTC     : bc1q2dks8w8uurca5xmfwv4jwl7upehyjjakr3xga9   |
# --+----------------------------------------------------------+--  
#   |        all posts #yasserbdj96 ,all views my own.         |
# --+----------------------------------------------------------+--
#   |                                                          |

#START{
[Desktop Entry]
Name=Hiphp - CLI
Comment=Hiphp - Free and open-source project for creating a tool to manage PHP-based sites.
GenericName=Hiphp
Exec=sh -c '/usr/local/bin/hiphp;${SHELL:-bash}'
Icon=/usr/share/hiphp/hiphp.png
Type=Application
Terminal=true
Categories=Development;Utility;
MimeType=text/x-hiphp
Keywords=PHP;development;management;

[Desktop Action hiphp-desktop]
Name=Hiphp - Desktop
Exec=bash /usr/local/bin/hiphp --DST
Icon=/usr/share/hiphp/hiphp.png

[Desktop Action hiphp-tk]
Name=Hiphp - Tk
Exec=bash /usr/local/bin/hiphp --TK
Icon=/usr/share/hiphp/hiphp.png
#}END.
