#   |                                                          |
# --+----------------------------------------------------------+--
#   |   Code by : yasserbdj96                                  |
#   |   Email   : yasser.bdj96@gmail.com                       |
#   |   Github  : https://github.com/yasserbdj96               |
#   |   BTC     : bc1q2dks8w8uurca5xmfwv4jwl7upehyjjakr3xga9   |
# --+----------------------------------------------------------+--  
#   |        all posts #yasserbdj96 ,all views my own.         |
# --+----------------------------------------------------------+--
#   |                                                          |

#START{
[Desktop Entry]
Name=Hiphp - CLI
Comment=hiphp - free & open source project for create a BackDoor to control PHP-based sites.
GenericName=hiphp
Exec=sh -c '/usr/local/bin/hiphp;${SHELL:-bash}'
Icon=/usr/share/hiphp/hiphp.png
Type=Application
Terminal=true
Categories=RevisionControl;RemoteAccess;
MimeType=text/x-hiphp
Keywords=backdoor;controller;

[Desktop Action hiphp-desktop]
Name=hiphp-desktop
Exec=bash /usr/local/bin/hiphp --dst
Icon=/usr/share/hiphp/hiphp.png

#}END.
