name: Push To Github Container Registry

#on:
#  push:
#    branches:
#      - main
# Controls when the action will run.
on:
  # Triggers the workflow when a release is created
  release:
    types: [created]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  dockerloginbuildpush:
    runs-on: ubuntu-latest
    steps:
      - name: login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.CR_PAT }}
      - uses: actions/checkout@v3
      - name: create image from repository
        run: docker build -t ghcr.io/${{ github.actor }}/hiphp .
      - name: push image to GitHub Container Registry
        run: docker push ghcr.io/${{ github.actor }}/hiphp:latest